*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body{
  background-color: rgb(255, 255, 255);
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: steelblue;
  padding: 30px 0;
}

.wrapper .sidebar h2{
  color:white; 
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{  
  font-size: large;
  
}

.wrapper .sidebar ul li a{
  color: rgb(255, 255, 255);
  display: block;
  padding: 20px;
  
}

.wrapper .sidebar ul li :hover{
  background-color:rgb(255, 255, 255);
  cursor: pointer;
  color: steelblue;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header{
  padding: 20px;
  font-size: large;
  background-color: rgba(70, 131, 180, 0.185);
  color:steelblue;
  font-weight: bold;
}

.wrapper .main_content .info{
  margin: 20px;
  line-height: 25px;

}